
html {
	display:block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;  
   
}

* {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	background-image:url('../img/background.jpg')!important;
	background-repeat:no-repeat;
	background-size: 100% auto;
	height: 100%;
	width: 100%;

}

#res_720 {
position: absolute;
height: 1280px;
margin-left: -744px;
margin-top: -640px;
/*overflow: hidden;*/
top: 50%;
left: 50%;
width: 720px;
}

#container {
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);

}

#main_container {
	
	height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

#header_1  {
	text-align: center;
	margin-top: -1px;
	margin-left: 4%;
	text-align: center;
	font-family: 'A Love of Thunder';
	color: white;
	font-size: 125px;
	text-shadow: 0px 5px 12px rgba(0,0,0,0.4), 0px 8px 13px 
	                          rgba(0,0,0,0.1), 0px 18px 23px 
	                          rgba(0,0,0,0.1);
	position: relative;
	z-index: 1;
}

#header_2 {
	margin-top: 116px;
	padding-left: 39%;
	font-family: 'A Love of Thunder';
	color: white;
	font-size: 60px;
	text-shadow: 0px 5px 12px rgba(0,0,0,0.4), 0px 8px 13px 
	                          rgba(0,0,0,0.1), 0px 18px 23px 
	                          rgba(0,0,0,0.1);
	position: relative;
	z-index: 1;
}

#header_3 {
	margin-top: 168px;
	padding-left: 27%;
	font-family: 'A Love of Thunder';
	color: white;
	font-size: 60px;
	text-shadow: 0px 5px 12px rgba(0,0,0,0.4), 0px 8px 13px 
	                          rgba(0,0,0,0.1), 0px 18px 23px 
	                          rgba(0,0,0,0.1);
	position: relative;
	z-index: 1;
}

#header_4 {
	margin-top: 145px;
	padding-left: 33%;
	font-family: 'A Love of Thunder';
	color: white;
	font-size: 60px;
  text-shadow: 0px 5px 12px rgba(0,0,0,0.4), 0px 8px 13px 
	                          rgba(0,0,0,0.1), 0px 18px 23px 
	                          rgba(0,0,0,0.1);
	position: relative;
	z-index: 1;

}

#header_5 {
	margin-top: 144px;
	padding-left: 33%;
	font-family: 'A Love of Thunder';
	color: white;
	font-size: 60px;
  text-shadow: 0px 5px 12px rgba(0,0,0,0.4), 0px 8px 13px 
	                          rgba(0,0,0,0.1), 0px 18px 23px 
	                          rgba(0,0,0,0.1);
	position: relative;
	z-index: 1;
}

#topping_1, #topping_2, #topping_3, #topping_4, #topping_5, #topping_6, #topping_7, #topping_8, #topping_9, #menu_intro_1, #menu_intro_2, #menu_intro_3, #menu_intro_4, #menu_intro_5, #menu_item_1, #menu_item_price_1, #menu_item_2, #menu_item_price_2, #menu_item_3, #menu_item_price_3, #menu_item_4, #menu_item_price_4, #menu_item_5, #menu_item_price_5,#menu_item_6, #menu_item_price_6, #salsa_1, #salsa_2, #salsa_3, #salsa_4, #salsa_5, #salsa_6, #salsa_7,#salsa_8, #salsa_9 ,#drink_1, #drink_2, #drink_3, #drink_4, #drink_5 , #drink_6, #drink_7, #drink_8, #drink_price_1, #drink_price_2, #drink_price_3, #drink_price_4, #drink_price_5 ,#menu_intro_5,#menu_intro_6, #drink_price_6, #drink_price_7, #drink_price_8, #drink_price_9, #menu_intro_7,#menu_intro_8, #menu_intro_9,#menu_item_7,#menu_item_price_7,#menu_item_8,#menu_item_price_8
{
	font-family: 'League Gothic';
	color: #9E005D;
	font-size: 32px;
	text-shadow: #707072 1px 3px 2px;
	margin-left: 20px;
	position: relative;
	z-index: 1;


}



.pepper {
	margin-top: -300px;
	margin-left: 400px;
	position: fixed;

}

.pepper img {
	width: 580px;
}

.corn {
	margin-top: -174px;
	margin-left: 145px;
	
}

.corn img {
	width: 280px;
}

.cucumber {
	margin-top: -134px;
	margin-left: 400px;
	position: absolute;
}


.cucumber img {
	width: 200px;
}

.tomato {
	margin-left: 88px;
	margin-top: -165px;
	position: absolute;

}

.tomato img {
	width: 200px;

}


.chili img {
	width: 280px;
}
@font-face {
    font-family: 'A Love of Thunder';
    src: url(../font/a_love_of_thunder.ttf);
}

@font-face {
		font-family: "League Gothic";
		src: url(../font/LeagueGothic-Regular.otf) format('opentype');
}


.corn {
	position: fixed;

}

.chili {
  position: absolute;
  top: 81%;
	left: 60%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
}
